.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   background-color: #7cc5fc;
   border-radius: 1em;
}

.page {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

main {
   flex: 1;
}

.logo {
   font-size: 1.4em;
   font-weight: bold;
}

.nav-links a {
   margin-left: 5px;
   text-decoration: none;
   color: black;
}

.nav-links span {
   margin-left: 5px;
   margin-right: 5px;
}

.flex-container {
   display: flex;
   gap: 20px;
}

.flex-item {
   flex: 1;
   padding: 10px;
   border-radius: 1em;
   background-color: rgba(174, 220, 255, 0.8);
   text-align: center;
   flex-direction: column;
}

body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 1.2em;
}

.flex-item ul {
   margin: 0;
   padding-left: 1.5rem;
   list-style: disc;
   display: inline-block;
   text-align: left;

}

.flex-item li {
   margin: 4px 0;
}



@media screen and (max-width: 999px) {
   nav a {
      display: block;
      width: 100%;
      margin-bottom: 5px;
   }

   .mobile-input {
      display: inline;
   }

   .nav-links span {
      display: none;
   }

}

.floatleft {
   float: left;
   margin-right: 15px;
}

footer {
   width: 100%;

}

footer p {
   color: white;
   font-size: 0.6em;
}

h1 {
   font-size: 1.5em;
}

h2,
h3,
h4 {
   font-size: 1.2em;
}

.flex-nocenter {
   flex: 1;
   padding: 10px;
   border-radius: 1em;
   background-color: rgba(174, 220, 255, 0.8);
}
.flex-nocenter-gear {
   flex: 1;
   padding: 10px;
   border-radius: 1em;
   background-color: rgba(174, 220, 255, 1);
}

.layout {
   display: flex;
   height: 70vh;
   gap: 20px;
}

#map {
   height: 60vh;
   flex: 3;
   border-radius: 1em;
   padding: 20px;
   border-radius: 1em;
   background-color: rgba(174, 220, 255, 0.8);

}

#userside {
   flex: 1;
   padding: 20px;
   border-radius: 1em;
   height: 60vh;
   background-color: rgba(174, 220, 255, 0.8);
}

#personalback {
   border-radius: 1em;
}

#backgroundp {
   flex: 1;
   padding: 10px;
   border-radius: 1em;
   background-color: rgba(174, 220, 255, 0.8);
   text-align: center;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#userside input#loc {
   width: 100%;
   padding: 10px 12px;
   font-size: 1em;
   border: 1px solid #cbd5e1;
   border-radius: 10px;
   box-sizing: border-box;

}


#userside button#go {
   width: 100%;
   margin-top: 10px;
   padding: 10px 12px;
   font-size: 1em;

   border-radius: 10px;
   background: #0f172a;
   color: white;

}

#userside button#go:hover {
   opacity: 0.92;
}

#gear-result {
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   margin-top: 15px;
}

.gearcard {
   flex: 1;
   padding: 20px;
   border-radius: 1em;
   text-align: center;
   box-sizing: border-box;
   background-color: rgba(174, 220, 255, 1);
}

.gearicon {
   font-size: 3em;
   margin-bottom: 10px;
}


#skill,
#style {

   padding: 5px;
   font-size: 1em;
   border: 1px solid #cbd5e1;
   border-radius: 10px;
   box-sizing: border-box;

}


#gearBtn {

   margin-top: 10px;
   padding: 5px;
   font-size: 1em;

   border-radius: 10px;
   background: #0f172a;
   color: white;

}

.flex-item-white{
   flex: 1;
   padding: 10px;
   border-radius: 1em;
   background-color: rgba(255, 255, 255, 1);
   text-align: center;
   flex-direction: column;
}

.footer-ht {
   color: rgb(0, 0, 0);
   font-size: 0.6em;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip:focus {
  position: static;
  width: auto;
  height: auto;
}