.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   background-color: #7cc5fc;
   border-radius: 1em;
}
.page {min-height: 100vh;
   display: flex;
   flex-direction: column;
}

main {
   flex: 1;
}

.logo {
   font-size: 1.4em;
   font-weight: bold;
}

.nav-links a {
   margin-left: 5px;
   text-decoration: none;
   color: black;
}

.nav-links span {
   margin-left: 5px;
   margin-right: 5px;
}

.flex-container {
   display: flex;
   gap: 20px;
}

.flex-item {
   flex: 1;
   padding: 10px;
   border-radius: 1em;
   background-color: rgba(174, 220, 255, 0.8);
   text-align: center;
   flex-direction: column;
}

body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 1.2em;
}

.flex-item ul {
   margin: 0;
   padding-left: 1.5rem;
   list-style: disc;
   display: inline-block;
   text-align: left;

}

.flex-item li {
   margin: 4px 0;
}

@media screen and (max-width: 999px) {
   nav a {
      display: block;
      width: 100%;
      margin-bottom: 5px;
   }

   .nav-links span {
      display: none;
   }
}

.floatleft {
   float: left;
   margin-right: 15px;
}

footer {
   width: 100%;

}

footer p {
   color: white;
   font-size: 0.6em;
}

h1 {
   font-size: 1.5em;
}

h2,
h3 {
   font-size: 1.2em;
}

.flex-nocenter {
   flex: 1;
   padding: 10px;
   border-radius: 1em;
   background-color: rgba(174, 220, 255, 0.8);
}

#layout {
   display: flex;
   height: 70vh;
}
#map {
   height: 60vh;
   flex: 3;
   border-radius: 1em;
}
#userside {
   flex: 1;
   padding: 10px;
}
#personalback {
   border-radius: 1em;
}
#backgroundp {
   flex: 1;
   padding: 10px;
   border-radius: 1em;
   background-color: rgba(174, 220, 255, 0.8);
   text-align: center;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}